html, body, div
{
	padding: 0;
	border: 0;
	margin: 0;
}
html, body
{
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
}
#sidebar
{
	background: rgba(192,32,32,1);
	width: 20vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	border: 0;
	z-index: 100;
}
#sidebar img
{
	max-height: 10vh;
	max-width: 10vh;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 3rem;
}
#sidebar span
{
	color: rgba(255,255,255,1);
	font-family: segoe,sans-serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
	font-size: 5vmin;
	display: block;
	width: 100%;
	font-weight: bold;
	padding-bottom: 2rem;
}

#content
{
	font-size: 0;
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 20vw;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

#content img
{
	max-width: 80vw;
	max-height: 100%;
	padding: 0;
	border: 0;
	margin: 0;
}